/* ############# Portada ############# */    
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

html {
  display: block;
  color: -internal-root-color;
}

body {    
    background: url("../img/bona_3_mod4.jpg") no-repeat center center fixed;
    -webkit-background-size: cover !important;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nom{
    position: absolute;
    top: 10vh;
    left: 20vw;
    margin: auto;
}

  .nom-portada {
    font-family: "Ciutadella-light", sans-serif;
    font-size: 5em;
    color: #DAA520;
    text-align: left;
  }

  .boto{

    position: absolute;
    top: calc( 90vh - 60px );
    left: calc( 75vw - 20px );
  }

/* MIDES BOTO
  .boto-inici{
    width: 57px;
    height: 35px;
  }
*/

@media only screen and (max-width: 320px) {
  .nom-portada{
    font-size: 4.4em;
  }

  .nom{
    top: 17vh;
  }
}

  @media (min-width: 862px) { 
    .nom-portada {
      font-size: 12em;
      font-family: "Ciutadella-light", sans-serif;
    }

    .nom{
      top: -7vh;
    }

    .boto{
      left: 85vw;
      top: 90vh;
    }

    .boto-inici{
      width: 40px;
      height: 25px;
    }
   }

   
  

/* ############# Portada ############# */

/* ############# Pagina 4 menus ############# */
a{
  text-decoration: none;
  color: #FFA800;
}
a:hover{
  color: black;
}

.wrapper {
  font-family: "Ciutadella-light", sans-serif;
  font-size: 200%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.63);
  width: 100vw;
  height: 100vh;
  font-weight: 900;
  color: #FFA800;
  position: absolute;
  z-index: 2;
}

.menu1-2 {
  width: 25vw;
  height: 50vh;
  cursor:pointer;
}

.menu3-4 {
  float: right;
  width: 25vw;
  height: 50vh;
  margin-top: -50vh;
  padding: 0;
  cursor:pointer;
}

.menu1 {
  display: flex;
  vertical-align: middle;
  background-color: rgba(160, 160, 160, 0.3);
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.menu2 {
  display: flex;
  background-color: rgba(160, 160, 160, 0.3);
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.menu3 {
  display: flex;
  background-color: rgba(160, 160, 160, 0.3);
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.menu4 {
  display: flex;
  background-color: rgba(160, 160, 160, 0.3);
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.menu1:hover, .menu2:hover, .menu3:hover, .menu4:hover{
  background-color: #FFA800;
  color: black;
}

@media (max-width: 1000px) {
  /* ############# Reset dels menus ############# */
  .menu1-2, .menu3-4, .menu1, .menu2, .menu3, .menu4{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    background:transparent;
    line-height:1;
    display:block;
    list-style:none;
    quotes:none;
    content:'';
    content:none;
    background:transparent;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* ############# Reset dels menus ############# */

  .menu1{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(160, 160, 160, 0.3);
    height: 7vh;
    width: 50vw;
  }

  .menu2{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(160, 160, 160, 0.3);
    height: 7vh;
    width: 50vw;
  }

  .menu3{
    position: absolute;
    top: 0;
    left: 50vw;
    background-color: rgba(160, 160, 160, 0.3);
    height: 7vh;
    width: 50vw;
  }

  .menu4{
    position: absolute;
    bottom: 0;
    left: 50vw;
    background-color: rgba(160, 160, 160, 0.3);
    height: 7vh;
    width: 50vw;
  }

}

@media (max-width: 850px) {

  .wrapper {
    font-size: 100%;
  }
}


/* ############# Pagina 4 menus ############# */

/* ############# Pagina Introducció ############# */

#pagines{
  position: relative;
  text-align : justify;
  font-size: 60%;
  max-width: 40vw;
  margin-top: -40vh;
  margin-left: 30vw;
  max-height: 85vh;
  overflow: auto;
  overflow-y: auto;
  font-family: "Ciutadella-light", sans-serif;
  font-weight: 500;
  color: black;
}

@media (max-width: 1000px) {
  #pagines{
    font-size: 100%;
    margin: 0;
    top: 15vh;
    left: 4vw;
    max-width: 90vw;
    max-height: 70vh;
    font-weight: 700;
  }
  #imatgecv{
    max-width: 90vw;
  }
}

@media (min-width: 1000px) {
  .row{
    max-width: 90vw;
  }
  #imatgecv{
    max-width: 40vw;
  }
}

#pagines::-webkit-scrollbar{
  display: none;
}

.introduccio{
  display: none;
}

.contacte{
  display: none;
}

.mb-4{
  color: black;
}

.list-unstyled{
  font-size: 0.8em;
}

.cv{
  display: none;
}

.ubicacio{
  font-size: 100%;
}

.descarregarcv{
  position: absolute;
  top: 5px;
  left: 26vw;
}

.descarregarcv{
  display: none;
}

.portfoli{
  display: none;
}

.descarregarportfoli{
  position: absolute;
  top: 5px;
  left: 26vw;
}

.descarregarportfoli{
  display: none;
}

@media screen and (min-width: 1901px){
  .ubicacio{
    font-size: 0.75em;
  }
}

@media screen and (min-width: 1520px) and (max-width: 1900px) { 
  .ubicacio{
    font-size: 0.65em;
  }
 }

 @media screen and (min-width: 1152px) and (max-width: 1519px) { 
  .ubicacio{
    font-size: 0.45em;
  }
 }

 @media screen and (min-width: 850px) and (max-width: 1151px) { 
  .ubicacio{
    font-size: 0.4em;
  }
 }

/* ############# Pagina Introducció ############# */